* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F9F4EA;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

    width: 80%;
    margin: auto;

    padding-top: 30px;
    padding-bottom: 30px;
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    background-color: #FDDDD3;
}

.inicio{
    text-align: center;
}

.LOGO {
    text-decoration: none;
    color: #B27792;
    font-size: 28px;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 25px;

    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #B27792;
}

.productos{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.productos article{
    width: 220px;
    border: 3px solid #B27792;
    border-radius: 10px;
    padding: 10px;

}

.productos img{
    width: 200px;
    height: 220px;
    object-fit: contain;
}
.productos button{
    width: 100%;
    background-color:  #FDDDD3;
    border: none;
    border-radius: 8px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

footer img{
    width: 30px;
    height: 30px;
}

/*contacto*/
.contacto{
    text-align: center;
}

@media (max-width: 600px) {
  header,
  footer {
    flex-direction: column;
  }

  .menu, .productos {
    flex-direction: column;
  }
}